<!DOCTYPE html>
<html lang="en">
<head>
  <title>Enviro Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Environmental Data Monitoring and Visualization</h1>
  <div class="container">
    <div class="table-container">
      <table id="latest_data" class="data-column"></table>
    </div>
    <div class="chart-container">
      <canvas id="lineChart" class="chart-column"></canvas>
    </div>
  </div>
</body>
</html>
